<html>
      <head>
        <meta charset="UTF-8">
        <title>README.md</title>
      </head>
      <body>
        <h1 id="start-bootstrap-sb-admin"><a href="https://startbootstrap.com/template-overviews/sb-admin/">Start Bootstrap - SB Admin</a></h1>
<p><a href="http://startbootstrap.com/template-overviews/sb-admin/">SB Admin</a> is an open source, admin dashboard template for <a href="http://getbootstrap.com/">Bootstrap</a> created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.</p>
<h2 id="preview">Preview</h2>
<p><a href="https://blackrockdigital.github.io/startbootstrap-sb-admin/"><img src="https://startbootstrap.com/assets/img/templates/sb-admin.jpg" alt="SB Admin Preview"></a></p>
<p><strong><a href="https://blackrockdigital.github.io/startbootstrap-sb-admin/">View Live Preview</a></strong></p>
<h2 id="status">Status</h2>
<p><a href="https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-sb-admin/master/LICENSE"><img src="https://img.shields.io/badge/license-MIT-blue.svg" alt="GitHub license"></a>
<a href="https://www.npmjs.com/package/startbootstrap-sb-admin"><img src="https://img.shields.io/npm/v/startbootstrap-sb-admin.svg" alt="npm version"></a>
<a href="https://travis-ci.org/BlackrockDigital/startbootstrap-sb-admin"><img src="https://travis-ci.org/BlackrockDigital/startbootstrap-sb-admin.svg?branch=master" alt="Build Status"></a>
<a href="https://david-dm.org/BlackrockDigital/startbootstrap-sb-admin"><img src="https://david-dm.org/BlackrockDigital/startbootstrap-sb-admin/status.svg" alt="dependencies Status"></a>
<a href="https://david-dm.org/BlackrockDigital/startbootstrap-sb-admin?type=dev"><img src="https://david-dm.org/BlackrockDigital/startbootstrap-sb-admin/dev-status.svg" alt="devDependencies Status"></a></p>
<h2 id="download-and-installation">Download and Installation</h2>
<p>To begin using this template, choose one of the following options to get started:</p>
<ul>
<li><a href="https://startbootstrap.com/template-overviews/sb-admin/">Download the latest release on Start Bootstrap</a></li>
<li>Install via npm: <code>npm i startbootstrap-sb-admin</code></li>
<li>Clone the repo: <code>git clone https://github.com/BlackrockDigital/startbootstrap-sb-admin.git</code></li>
<li><a href="https://github.com/BlackrockDigital/startbootstrap-sb-admin">Fork, Clone, or Download on GitHub</a></li>
</ul>
<h2 id="usage">Usage</h2>
<h3 id="basic-usage">Basic Usage</h3>
<p>After downloading, simply edit the HTML and CSS files included with the template in your favorite text editor to make changes. These are the only files you need to worry about, you can ignore everything else! To preview the changes you make to the code, you can open the <code>index.html</code> file in your web browser.</p>
<h3 id="advanced-usage">Advanced Usage</h3>
<p>After installation, run <code>npm install</code> and then run <code>gulp dev</code> which will open up a preview of the template in your default browser, watch for changes to core template files, and live reload the browser when changes are saved. You can view the <code>gulpfile.js</code> to see which tasks are included with the dev environment.</p>
<h4 id="gulp-tasks">Gulp Tasks</h4>
<ul>
<li><code>gulp</code> the default task that builds everything</li>
<li><code>gulp dev</code> browserSync opens the project in your default browser and live reloads when changes are made</li>
<li><code>gulp sass</code> compiles SCSS files into CSS</li>
<li><code>gulp minify-css</code> minifies the compiled CSS file</li>
<li><code>gulp minify-js</code> minifies the themes JS file</li>
<li><code>gulp copy</code> copies dependencies from node_modules to the vendor directory</li>
</ul>
<h2 id="bugs-and-issues">Bugs and Issues</h2>
<p>Have a bug or an issue with this template? <a href="https://github.com/BlackrockDigital/startbootstrap-sb-admin/issues">Open a new issue</a> here on GitHub or leave a comment on the <a href="http://startbootstrap.com/template-overviews/sb-admin/">template overview page at Start Bootstrap</a>.</p>
<h2 id="custom-builds">Custom Builds</h2>
<p>You can hire Start Bootstrap to create a custom build of any template, or create something from scratch using Bootstrap. For more information, visit the <strong><a href="https://startbootstrap.com/bootstrap-design-services/">custom design services page</a></strong>.</p>
<h2 id="about">About</h2>
<p>Start Bootstrap is an open source library of free Bootstrap templates and themes. All of the free templates and themes on Start Bootstrap are released under the MIT license, which means you can use them for any purpose, even for commercial projects.</p>
<ul>
<li><a href="https://startbootstrap.com">https://startbootstrap.com</a></li>
<li><a href="https://twitter.com/SBootstrap">https://twitter.com/SBootstrap</a></li>
</ul>
<p>Start Bootstrap was created by and is maintained by <strong><a href="http://davidmiller.io/">David Miller</a></strong>, Owner of <a href="http://blackrockdigital.io/">Blackrock Digital</a>.</p>
<ul>
<li><a href="http://davidmiller.io">http://davidmiller.io</a></li>
<li><a href="https://twitter.com/davidmillerskt">https://twitter.com/davidmillerskt</a></li>
<li><a href="https://github.com/davidtmiller">https://github.com/davidtmiller</a></li>
</ul>
<p>Start Bootstrap is based on the <a href="http://getbootstrap.com/">Bootstrap</a> framework created by <a href="https://twitter.com/mdo">Mark Otto</a> and <a href="https://twitter.com/fat">Jacob Thorton</a>.</p>
<h2 id="copyright-and-license">Copyright and License</h2>
<p>Copyright 2013-2017 Blackrock Digital LLC. Code released under the <a href="https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/gh-pages/LICENSE">MIT</a> license.</p>

      </body>
    </html>