@charset "UTF-8";
.shdw5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.shdw4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shdw3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shdw2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.shdw1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

* {
  padding: 0;
  margin: 0; }

body {
  min-height: 100vh;
  background-image: #fafafa;
  font-family: 'Exo 2', sans-serif; }

#container {
  width: 40%;
  min-height: 400px;
  background: #fff;
  position: relative;
  top: 100px;
  float: left;
  margin: 0 30%;
  -webkit-box-shadow: 0 0 30px #CCC;
  box-shadow: 0 0 30px #CCC; }

#percline {
  content: '';
  width: 20%;
  height: 8px;
  background: #FFC600;
  position: absolute;
  left: 0;
  top: 0;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease; }

.back {
  float: left;
  width: 35px;
  z-index: 2;
  background: #fff;
  cursor: pointer;
  position: relative;
  left: -50px;
  height: 35px;
  border: 3px solid #0091AA;
  border-radius: 100%; }

.line {
  height: 3px;
  margin: 5px;
  background-color: #0091AA; }

.line:nth-child(1) {
  width: 15px;
  transform: rotate(-30deg) translate3d(-6px, 2px, 0);
  -moz-transform: rotate(-30deg) translate3d(-6px, 2px, 0);
  -webkit-transform: rotate(-30deg) translate3d(-6px, 2px, 0); }

.line:nth-child(2) {
  width: 22px; }

.line:nth-child(3) {
  width: 15px;
  transform: rotate(30deg) translate3d(-5px, -2px, 0);
  -moz-transform: rotate(30deg) translate3d(-5px, -2px, 0);
  -webkit-transform: rotate(30deg) translate3d(-5px, -2px, 0); }

.top {
  padding: 10px 0; }
  .top h2 {
    width: 100%;
    text-align: center;
    z-index: 1; }

.autoComplete {
  width: 100%;
  position: absolute;
  background: #fff;
  z-index: 100; }
  .autoComplete ul {
    width: 100%;
    margin-bottom: 0; }
  .autoComplete li {
    width: 100%;
    list-style-type: none;
    padding: 5px 20px; }
  .autoComplete li:hover {
    background: aliceblue;
    border: 1px solid powderblue;
    cursor: pointer; }
  .autoComplete li.hlight {
    background: aliceblue;
    border: 1px solid powderblue;
    cursor: pointer; }

.mapModal {
  width: 90%;
  height: 600px;
  top: 30px;
  left: 5%;
  position: fixed;
  z-index: 100;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease; }
  .mapModal h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    color: #fff; }
  .mapModal .modalHead {
    width: 100%;
    height: 50px;
    background: #0091AA; }
  .mapModal .close {
    position: absolute;
    top: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    left: 20px;
    font-size: 30px;
    color: #fff; }
  .mapModal .modalBody {
    width: 100%;
    height: 550px; }
  .mapModal #map {
    width: 100%;
    height: 100%; }
  .mapModal.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease; }

.mapFilter {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease; }
  .mapFilter.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -webkit-transition: opacity 200ms ease; }

body,
input,
select,
textarea,
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  body::after, body::before,
  input::after,
  input::before,
  select::after,
  select::before,
  textarea::after,
  textarea::before,
  body *::after,
  body *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.button-container {
  text-align: center;
  width: 100%;
  float: left; }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem; }
  .checkbox .form-help,
  .form-radio .form-help,
  .form-group .form-help {
    position: absolute;
    width: 100%; }
  .checkbox .form-help {
    position: relative;
    margin-bottom: 1rem; }
  .form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem; }

.form-group input {
  height: 1.9rem; }

.form-group textarea {
  resize: none;
  height: 150px; }

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease; }

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block; }
  .form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    -o-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-group input[type="file"] {
  line-height: 1; }
  .form-group input[type="file"] ~ .bar {
    display: none; }

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333; }
  .form-group select ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group input.form-file ~ .control-label,
  .form-group input.has-value ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label,
  .form-group textarea.form-file ~ .control-label,
  .form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0; }

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none; }
  .form-group select:focus ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group textarea:focus ~ .control-label {
    color: #337ab7; }
  .form-group select:focus ~ .bar::before,
  .form-group input:focus ~ .bar::before,
  .form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0; }

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999; }
    .radio .helper::before, .radio .helper::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      -webkit-transition: -webkit-transform 0.28s ease;
      -o-transition: transform 0.28s ease;
      transition: transform 0.28s ease;
      transition: transform 0.28s ease, -webkit-transform 0.28s ease;
      transition: -webkit-transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transform: scale(0);
      background-color: #337ab7;
      border-color: #337ab7; }
  .radio label:hover .helper {
    color: #337ab7; }
  .radio input:checked ~ .helper::after {
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #337ab7; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    -o-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #337ab7;
      display: block;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform-origin: left top;
      border-radius: 0.25rem;
      content: '';
      -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
      -o-transition: opacity 0.28s ease, height 0s linear 0.28s;
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #337ab7; }
  .checkbox input:checked ~ .helper {
    color: #337ab7; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      -webkit-transition: height 0.28s ease;
      -o-transition: height 0.28s ease;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      -webkit-transition-delay: 0.28s;
      -o-transition-delay: 0.28s;
      transition-delay: 0.28s; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem; }

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f; }

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f; }

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%; }

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  font-weight: 400;
  color: #4f93ce;
  margin: 20px 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  -o-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease, -webkit-box-shadow 0.28s ease;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .button span {
    color: #fff;
    position: relative;
    z-index: 1; }
  .button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0); }
  .button:hover {
    color: #337ab7;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
  .button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -o-transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: -webkit-transform 1.12s ease, opacity 0.28s ease 0.364s;
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 0; }
  .button:focus {
    outline: none; }

.button:disabled {
  cursor: not-allowed; }

form {
  width: 90%;
  margin: 0 5%;
  float: left;
  position: relative;
  top: -30px; }

.step {
  width: 100%;
  float: left;
  display: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.formcontainer {
  width: 100%;
  float: left; }

.skills {
  width: 100%; }

.tag {
  cursor: pointer;
  display: block;
  float: left;
  border-radius: 10px;
  background: #eee;
  padding: 5px;
  margin: 4px; }

.tag::after {
  position: relative;
  content: "×";
  padding: 2px 5px;
  margin-left: 3px;
  font-size: 15px; }

.red {
  color: red; }

.tutorial {
  padding-top: 10px; }

#regfee {
  width: 100%;
  float: left;
  clear: both; }
  #regfee p {
    float: left; }
  #regfee a {
    float: left;
    clear: both; }
  #regfee span {
    font-weight: 400;
    float: right;
    font-size: 20px; }

.adimg label {
  float: left;
  width: 100%;
  color: #b3b3b3;
  font-weight: 400; }

.to {
  float: left;
  padding: 8%; }

.time {
  width: 40%;
  float: left; }

.noUi-connect {
  background: #0091AA; }

#time-slider {
  margin-top: 10px; }

#four .batch-label {
  float: left;
  color: #555; }

#four .batch-time {
  float: right;
  font-weight: 400;
  font-size: 20px; }

.batch-label-container {
  width: 100%;
  margin-bottom: 60px;
  margin-top: 20px; }

#one.active, #two.active, #three.active, #four.active, #five.active, #six.active {
  display: block; }

@media only screen and (max-width: 800px) {
  #container {
    width: 60%;
    margin: 0 20%; } }

@media only screen and (max-width: 480px) {
  body {
    background: #fff;
    overflow-x: hidden; }
  #container {
    width: 100%;
    top: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .back {
    top: 15px;
    left: 10px;
    background: transparent;
    border: none; }
  #percline {
    position: absolute;
    top: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .line {
    height: 2px;
    margin: 6px;
    background: #fff; }
  .top {
    background: #0091AA;
    width: 113%;
    top: -5px;
    padding: 15px 0;
    left: -7%;
    position: relative; }
    .top h2 {
      color: #fff;
      font-weight: 400;
      font-size: 20px; }
  #four .batch-time {
    font-size: 16px; } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
