.shdw5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.shdw4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shdw3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shdw2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.shdw1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

* {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif; }

body {
  background-color: #fafafa;
  float: left;
  width: 100%; }

header {
  width: 100%;
  height: 70px;
  background: #FFC600;
  position: fixed;
  z-index: 100; }
  header #home {
    height: 50px;
    margin: 10px;
    float: left;
    text-decoration: none;
    color: #000; }
  header #home:hover {
    color: #000; }
  header img {
    width: 100px;
    float: left; }
  header h1 {
    float: left;
    margin-left: 10px;
    font-size: 35px; }
  header .navbar {
    overflow: hidden;
    margin: 10px 0 0 50px;
    float: left; }
  header .navbar a {
    float: left;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  header .dropdown {
    float: left;
    overflow: hidden; }
  header .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; }
  header .navbar a:hover, header .dropdown:hover .dropbtn {
    background-color: #0091AA;
    color: #fff; }
  header .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 196px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  header .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  header .dropdown-content a:hover {
    background-color: #ddd;
    color: #000; }
  header .dropdown:hover .dropdown-content {
    display: block; }
  header #menuBtn {
    display: none; }

#mobileNav {
  display: none; }

.btnholder {
  text-align: center; }
  .btnholder button {
    border: 0;
    background: #0091AA;
    color: #fff;
    padding: 10px;
    font-weight: 500; }

#ctholder {
  margin-top: 70px; }
  #ctholder #left {
    width: 70%;
    margin: 1% 15%;
    float: left;
    background: #fff;
    min-height: 500px; }
    #ctholder #left .img {
      width: 250px;
      height: 250px;
      float: left;
      overflow: hidden; }
    #ctholder #left .details {
      float: left; }
    #ctholder #left h2 {
      float: left;
      padding: 20px 20px 5px 20px;
      color: #333; }
    #ctholder #left p {
      float: left;
      clear: both;
      padding: 0 20px; }
    #ctholder #left img {
      width: 100%; }
    #ctholder #left .rating {
      position: relative;
      left: 20px;
      float: left;
      vertical-align: baseline;
      display: inline-block;
      color: #e9e9e9;
      overflow: hidden;
      height: 30px;
      clear: both;
      line-height: 20px; }
    #ctholder #left .filledstars:before, #ctholder #left .greystars:before {
      content: "\2605\2605\2605\2605\2605";
      font-size: 30px;
      letter-spacing: 2px;
      line-height: 30px; }
    #ctholder #left .filledstars {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
      color: #FFC600; }
    #ctholder #left .revno {
      float: left;
      clear: both;
      padding: 10px 20px; }
    #ctholder #left .pnd {
      float: left;
      clear: both;
      padding: 10px 20px; }
    #ctholder #left table {
      float: left;
      clear: both;
      width: 90%;
      margin: 0 5%;
      padding: 10px 20px; }
    #ctholder #left .veh {
      width: 100%;
      text-align: center; }
    #ctholder #left .head {
      padding: 10px 100px 10px 0; }
    #ctholder #left ul {
      list-style-type: none; }
  #ctholder #right {
    width: 28%;
    background: #fff;
    margin: 1%;
    float: left;
    min-height: 500px;
    position: fixed;
    right: 0; }
    #ctholder #right .head {
      width: 100%;
      height: 40px;
      color: #fff;
      font-size: 25px;
      text-align: center;
      background: #0091AA; }
    #ctholder #right form {
      width: 80%;
      margin: 10px 10%; }
    #ctholder #right label {
      margin-bottom: 5px; }

.mapModal {
  width: 90%;
  height: 600px;
  top: 30px;
  left: 5%;
  overflow-y: auto;
  position: fixed;
  z-index: 100;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease; }
  .mapModal h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px; }
  .mapModal .modalHead {
    width: 100%;
    height: 50px;
    background: #0091AA; }
  .mapModal .close {
    position: absolute;
    top: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    left: 20px;
    font-size: 30px;
    color: #fff; }
  .mapModal .back {
    float: left;
    width: 35px;
    z-index: 2;
    background: #fff;
    cursor: pointer;
    position: relative;
    height: 35px;
    border: 3px solid #0091AA;
    border-radius: 100%; }
  .mapModal .line {
    height: 3px;
    margin: 5px;
    background-color: #0091AA; }
  .mapModal .line:nth-child(1) {
    width: 15px;
    transform: rotate(-30deg) translate3d(-6px, 2px, 0);
    -moz-transform: rotate(-30deg) translate3d(-6px, 2px, 0);
    -webkit-transform: rotate(-30deg) translate3d(-6px, 2px, 0); }
  .mapModal .line:nth-child(2) {
    width: 22px; }
  .mapModal .line:nth-child(3) {
    width: 15px;
    transform: rotate(30deg) translate3d(-5px, -2px, 0);
    -moz-transform: rotate(30deg) translate3d(-5px, -2px, 0);
    -webkit-transform: rotate(30deg) translate3d(-5px, -2px, 0); }
  .mapModal .step {
    width: 100%;
    float: left;
    display: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    .mapModal .step.active {
      display: block; }
  .mapModal .modalBody {
    width: 100%;
    height: 550px; }
    .mapModal .modalBody form {
      width: 90%;
      margin: 0 5%; }
  .mapModal #map {
    width: 100%;
    height: 100%; }
  .mapModal.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease; }

.mapFilter {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease; }
  .mapFilter.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -webkit-transition: opacity 200ms ease; }

#reviews {
  width: 100%;
  min-height: 200px;
  float: left;
  padding-top: 30px;
  margin-top: 20px;
  background: #eaeaea; }
  #reviews h3 {
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
    margin: 2% 0;
    float: left;
    text-decoration: underline;
    font-size: 30px;
    padding-left: 10%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #reviews h2 {
    font-weight: 400;
    font-size: 25px; }

#rate {
  width: 90%;
  margin: 0 5%;
  height: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  float: left;
  border: 1px solid #aaa; }

#postreview {
  float: left;
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  height: 270px;
  border: 1px solid #aaa;
  margin: 0 5%; }
  #postreview textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none; }
  #postreview input[type='submit'] {
    width: 120px;
    background-color: #0091AA;
    color: #FFF;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    border: 0;
    font-weight: 400;
    float: left;
    cursor: pointer;
    -webkit-transition: 200ms all;
    -o-transition: 200ms all;
    transition: 200ms all; }

#postedreviews {
  width: 90%;
  min-height: 300px;
  margin: 0 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aaa;
  float: left; }

.ureview {
  background: #fff;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 150px;
  border: 1px solid #888; }

.revimg {
  width: 20%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3%; }
  .revimg img {
    width: 100%;
    border: 1px solid #333;
    border-radius: 150px; }
  .revimg .revname {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 20px; }

.revct {
  width: 74%;
  margin: 3%;
  background: #eee;
  border-radius: 20px;
  padding: 20px;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  min-height: 100px; }

.rating {
  border: none;
  float: left;
  float: left; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #ddd;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

body,
input,
select,
textarea,
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  body::after, body::before,
  input::after,
  input::before,
  select::after,
  select::before,
  textarea::after,
  textarea::before,
  body *::after,
  body *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.button-container {
  text-align: center;
  width: 100%;
  float: left; }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem; }
  .checkbox .form-help,
  .form-radio .form-help,
  .form-group .form-help {
    position: absolute;
    width: 100%; }
  .checkbox .form-help {
    position: relative;
    margin-bottom: 1rem; }
  .form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem; }

.form-group input {
  height: 1.9rem; }

.form-group textarea {
  resize: none;
  height: 70px; }

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease; }

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block; }
  .form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    -o-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-group input[type="file"] {
  line-height: 1; }
  .form-group input[type="file"] ~ .bar {
    display: none; }

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333; }
  .form-group select ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group input.form-file ~ .control-label,
  .form-group input.has-value ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label,
  .form-group textarea.form-file ~ .control-label,
  .form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0; }

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none; }
  .form-group select:focus ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group textarea:focus ~ .control-label {
    color: #337ab7; }
  .form-group select:focus ~ .bar::before,
  .form-group input:focus ~ .bar::before,
  .form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0; }

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999; }
    .radio .helper::before, .radio .helper::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      -webkit-transition: -webkit-transform 0.28s ease;
      -o-transition: transform 0.28s ease;
      transition: transform 0.28s ease;
      transition: transform 0.28s ease, -webkit-transform 0.28s ease;
      transition: -webkit-transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transform: scale(0);
      background-color: #337ab7;
      border-color: #337ab7; }
  .radio label:hover .helper {
    color: #337ab7; }
  .radio input:checked ~ .helper::after {
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #337ab7; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    -o-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #337ab7;
      display: block;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform-origin: left top;
      border-radius: 0.25rem;
      content: '';
      -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
      -o-transition: opacity 0.28s ease, height 0s linear 0.28s;
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #337ab7; }
  .checkbox input:checked ~ .helper {
    color: #337ab7; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      -webkit-transition: height 0.28s ease;
      -o-transition: height 0.28s ease;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      -webkit-transition-delay: 0.28s;
      -o-transition-delay: 0.28s;
      transition-delay: 0.28s; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem; }

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f; }

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f; }

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%; }

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  font-weight: 400;
  color: #4f93ce;
  margin: 20px 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  -o-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease, -webkit-box-shadow 0.28s ease;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .button span {
    color: #fff;
    position: relative;
    z-index: 1; }
  .button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0); }
  .button:hover {
    color: #337ab7;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
  .button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -o-transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: -webkit-transform 1.12s ease, opacity 0.28s ease 0.364s;
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 0; }
  .button:focus {
    outline: none; }

.button:disabled {
  cursor: not-allowed; }

@media only screen and (max-width: 480px) {
  header .navbar {
    display: none; }
  header h1 {
    font-size: 25px;
    padding-top: 10px; }
  header #menuBtn {
    float: left;
    display: block;
    padding: 20px 10px;
    cursor: pointer; }
  #sideNav {
    display: none; }
  #ctholder #left {
    width: 100%;
    margin: 0; }
    #ctholder #left .img {
      width: 100%; }
    #ctholder #left .details {
      width: 100%; }
  #mobileNav {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 200;
    left: -100%;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in; }
    #mobileNav #close {
      float: left;
      padding: 13px;
      position: absolute;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      -webkit-user-select: none; }
    #mobileNav .head {
      width: 100%;
      background: #0091AA;
      color: #fff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 25px;
      text-align: center;
      padding: 10px; }
    #mobileNav .filter {
      width: 100%;
      margin: 10px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      float: left; }
      #mobileNav .filter label {
        width: 100%;
        padding: 10px 0;
        float: left; }
      #mobileNav .filter input[type=text] {
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #aaa; }
      #mobileNav .filter .autoComplete {
        width: 100%;
        top: 68px;
        background: #fff;
        position: relative;
        height: 200px; }
    #mobileNav.active {
      left: 0%;
      -o-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
      -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in; }
  #ctholder {
    width: 100%;
    margin-left: 0; }
    #ctholder .card img {
      height: 50%;
      width: auto; }
    #ctholder .card .info {
      width: calc(100% - 75px); }
    #ctholder .card .distance {
      padding: 0; }
  .rating {
    top: 0; } }
