.shdw5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.shdw4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shdw3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shdw2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.shdw1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

* {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif; }

header {
  width: 100%;
  height: 50px;
  background: #0091AA;
  position: fixed;
  z-index: 100; }
  header h1 {
    color: #fff;
    font-size: 25px;
    margin: 10px;
    float: left; }
  header a, header button {
    float: right;
    margin: 13px; }
  header button {
    padding: 5px 10px;
    border: 0;
    background: #fff;
    border-radius: 5px; }
  header .phn {
    color: #fff;
    width: 25px; }

h2 {
  color: #0091AA;
  border-bottom: 3px solid #FFC600;
  padding: 3px;
  margin: 10px;
  font-size: 20px;
  float: left; }

.details {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  float: left; }
  .details p, .details ul {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .details p {
    padding: 0 13px; }
  .details ul {
    padding: 0 20px; }
  .details form {
    width: 100%;
    float: left; }
    .details form input {
      width: 90%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px;
      margin: 10px 5%; }
  .details table {
    width: 100%;
    float: left;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .details table th {
      text-align: left; }
    .details table .total {
      height: 50px;
      font-weight: bold; }
  .details button {
    width: 90%;
    margin: 5%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    padding: 10px;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
    background: #FFC600; }
    .details button.cancel {
      color: #fff;
      background: red; }
  .details .track {
    width: 100%;
    float: left; }
    .details .track .trackBar {
      float: left;
      margin: 20px 5%;
      width: 90%;
      position: relative;
      height: 6px;
      background: #ccc;
      border-radius: 5px; }
    .details .track .trackball {
      width: 10px;
      position: absolute;
      top: -3px;
      left: 20%;
      background: #fff;
      height: 10px;
      border: 1px solid #333;
      border-radius: 10px; }
    .details .track .complete {
      width: 20%;
      height: 6px;
      background: green;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .details .track .legend {
      list-style-type: none; }
      .details .track .legend li {
        width: 33%;
        text-align: center;
        float: left; }

#chat {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 101;
  background: #fff;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: hidden; }
  #chat .head {
    width: 100%;
    height: 50px;
    background: #0091AA; }
  #chat #close {
    float: left;
    color: #fff;
    font-weight: bolder;
    padding: 15px;
    cursor: pointer; }
  #chat h2 {
    color: #fff;
    margin: 10px 0;
    border: 0;
    font-size: 18px; }
  #chat .send {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    background: #ddd; }
    #chat .send img {
      width: 30px; }
    #chat .send input {
      width: 96%;
      margin: 5px 2%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 80px 10px 10px;
      border-radius: 20px;
      border: 1px solid #888;
      outline: 0; }
    #chat .send .imgBtncontainer, #chat .send .submitContainer {
      background: transparent url("../images/img.png") left top no-repeat;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 8px;
      right: 50px;
      background-size: contain; }
    #chat .send #imgInput, #chat .send .submitContainer input {
      position: absolute;
      background: transparent url("../images/img.png") left top no-repeat;
      opacity: 0; }
    #chat .send .submitContainer {
      background: transparent url("../images/send.png") left top no-repeat;
      right: 11px;
      background-size: contain; }
    #chat .send .submitContainer input {
      background: transparent url("../images/send.png") left top no-repeat; }
  #chat .msgContainer {
    background: #f1f1f1;
    position: absolute;
    top: 50px;
    overflow-y: auto;
    bottom: 50px;
    width: 100%; }
    #chat .msgContainer .msg {
      width: 100%;
      padding: 10px;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    #chat .msgContainer .msgBox {
      min-height: 30px;
      width: 90%;
      border-radius: 5px; }
      #chat .msgContainer .msgBox p {
        padding: 5px; }
      #chat .msgContainer .msgBox.msg-in {
        background: #fff;
        float: left; }
      #chat .msgContainer .msgBox.msg-out {
        background: #b7deb7;
        float: right; }
  #chat.active {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown; }
  #chat.deactivated {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp; }

@-webkit-keyframes fadeInDown {
  from {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeOutUp {
  from {
    visibility: visible; }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    visibility: visible; }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }
