<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Service Provider Forgot Password | Autoking</title>
    <meta name="viewport" content="initial-scale=1.0; width=device-width">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <div class="formContainer shdw3">
      <h1>Forgot Password</h1>
      <div class="lds-dual-ring"></div>
      <form id="fpForm" method="post">
        <i class="fa fa-user icon"></i>
        <input type="text" name="uname" placeholder="Email">
        <button type="submit" class="shdw2" name="button">Submit</button>
      </form>
      <div class="msg"></div>
    </div>
    <script type="text/javascript">
    [
      'js/jquery.js',
      'js/login.js',
      'https://use.fontawesome.com/1fd731ec68.js',
    ].forEach(function(src) {
      var script = document.createElement('script');
      script.src = src;
      script.async = false;
      document.head.appendChild(script);
    });
    </script>
    <script type="text/javascript">

    </script>
  </body>
</html>
