<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Service Provider Login | Autoking</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Co-
    mpatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">

    <script type="text/javascript" src="./js/jquery.js"></script>
  </head>
  <body>
    <div class="formContainer shdw3">
      <h1>Service Provider Login</h1>
      <form id="loginForm" action="/login" method="post">
        <i class="fa fa-user icon"></i>
        <input type="text" name="email" placeholder="Email">
        <i class="fa fa-lock icon"></i>
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="shdw2">Log In</button>
        <div class="links" style="width: 100%">
          <a href="/register" style="width: 100%; text-align: center">Register</a>
          <a href="/fp" style="width: 100%; text-align: center">Forgot password</a>
        </div>
      </form>
    </div>
    <script type="text/javascript">
    $(document).ready(function (){
      if ({{error}}) {
        $('input').css({
          'box-shadow': '0 0 8px #F00',
          'border-color': '#f00'
        });
      }
    });
    </script>
    <script type="text/javascript">
    [
      'https://use.fontawesome.com/1fd731ec68.js',
    ].forEach(function(src) {
      var script = document.createElement('script');
      script.src = src;
      script.async = false;
      document.head.appendChild(script);
    });
    </script>
  </body>
</html>
