@import "var.scss";

*{
  margin: 0px;
  padding: 0px;
}
body{
  width: 100%;
  overflow-x: hidden;
  background: #fafafa;
}
#pg-wrapper{
  height: 600px;
}
#ct-wrapper{
  width: 60%;
  height: 500px;
  border-radius: 10px;
  background-color: #eeeeee;
  border: 1px solid rgba(0,0,0, 0.1);
  margin: 50px auto;
}
#err{
  z-index: 100;
  width: 20%;
  left: 40%;
  padding: 20px;
  position: fixed;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background: $yellow;
  color: #fff;
}
.head{
      h2{
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        box-sizing: border-box;
        padding: 10px 0;
        width: 50%;
        float: left;
        cursor: pointer;
        font-weight: lighter;
        color: $blue;
        text-align: center;
      }
      #lhead.activelogin{
        -webkit-box-shadow: 0 -2px 2px $blue;
        background: linear-gradient(to bottom, #fafafa 50%, #dedede 100%);
        box-shadow: 0 -2px 2px $blue;
      }
      #shead.activesignup{
        background: linear-gradient(to bottom, #fafafa 50%, #dedede 100%);
        -webkit-box-shadow: 0 -2px 2px $yellow;
        box-shadow: 0 -2px 2px $yellow;

      }
  }
.g-line, .mob{
  width: 100%;
  margin: auto;
  float: left;
  height: 2px;
  background: linear-gradient(to right, lighten($blue, 10%) 0%, $yellow 100%);
}
.mob{
  display: none;
}
.v-line{
  height: 380px;
  position: absolute;
  width: 2px;
  margin: 30px 30%;
  float: left;
  background: #888;
}
#login.al{
  display: block;
}
#signup.as{
  display: block;
}
#login, #signup{
  clear: both;
  display: none;
  .user{
    width: 50%;
    float: left;
    .info-form{
      width: 250px;
      margin: 50px auto;
      input[type=text],input[type="password"],input[type=tel],input[type="email"]{
        padding: 5px;
        width: 250px;
        float: left;
        margin: auto;
        border: 1px solid rgba(136, 136, 136, 0.5);
        border-radius: 5px;
      }
      input[type=submit]{
        margin: 20px 0;
        padding: 5px;
        border: 0;
        cursor: pointer;
        color: #fff;
        width: 263px;
        font-size: 25px;
        font-family: 'Exo 2', sans-serif;
        border-radius: 10px;
        background-color: $blue;
        transition: 200ms;
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
      }
      input[type=submit]:hover{
        background-color: darken($blue, 10%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
      }
      p{
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        color: #555;
        margin-top: 50px;
        margin-bottom: 10px;
      }
    }
  }
  .social-login{
    width: 50%;
    float: left;
    h3{
      width: 100%;
      font-size: 30px;
      font-weight: lighter;
      color: #444;
      margin-top: 20px;
      font-family: 'Exo 2', sans-serif;
      text-align: center;
    }
  }
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
  width: 60%;
  margin: 70px 20% 50px 20%;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
  width: 60%;
  margin: 0 20% 50px 20%;

}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}



@media only screen and (max-width: 768px) {
  #ct-wrapper{
    width: 100%;
    margin: 0px;
    height: 800px;
  }
  #err{
    box-sizing: border-box;
    width: 80%;
    left: 10%;
  }
  #lhead, #shead{
    font-size: 30px;
  }
  #signup, #login{
  .user{
    width: 100%;
    .info-form{
      width: 100%;
        input[type=text], input[type=tel], input[type=password],input[type=email]{
          margin: 0 15%;
          width: 70%;
        }
        p{
          margin: 40px 15% 5px 15%;
          width: 70%;
        }
        input[type=submit]{
          width: 70%;
          margin: 15px 15%;
        }
        input[type=checkbox]{
          margin-left: 15%;
        }
      }
  }
  .social-login{
    width: 100%;
    height: 300px;
    h3{
      font-size: 25px;
    }
  }
}
  .v-line{
    display: none;
  }
  .mob{
    display: block;
  }
  .frgt{
    margin-left: 50px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  #ct-wrapper{
    width: 100%;
    margin: 0;
  }
  #err{
    width: 30%;
    left: 35%;
  }
  .v-line{
    margin: 35px 50%;
  }
}
