.shdw5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.shdw4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.shdw3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.shdw2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.shdw1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

* {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif; }

body {
  width: 100%;
  height: 100%;
  background: #006677;
  overflow-x: hidden; }

.formContainer {
  width: 80%;
  float: left;
  margin-bottom: 50px;
  position: relative;
  top: 30px;
  margin: 0 10%;
  background: #fff; }
  .formContainer h1 {
    text-align: center;
    font-weight: 300;
    width: 100%;
    float: left;
    color: #333;
    padding: 15px 0; }
  .formContainer .hline, .formContainer .h2line {
    height: 2px;
    position: relative;
    background: #0091AA;
    margin: auto; }
  .formContainer .hline {
    top: 70px;
    width: 300px; }
  .formContainer .h2line {
    width: 150px;
    top: 10px; }
  .formContainer .left, .formContainer .right {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 50px;
    float: left; }
  .formContainer h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.otpModal {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  top: 100px;
  margin: auto;
  background: #fff; }
  .otpModal #otpForm {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 15%; }
  .otpModal h3 {
    text-align: center;
    color: #333;
    padding: 10px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.mapModal {
  width: 90%;
  height: 600px;
  top: 30px;
  left: 5%;
  position: fixed;
  z-index: 100;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -webkit-transition: opacity 500ms ease; }
  .mapModal h2 {
    text-align: center;
    color: #333;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    color: #fff; }
  .mapModal .modalHead {
    width: 100%;
    height: 50px;
    background: #0091AA; }
  .mapModal .close {
    position: absolute;
    top: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    left: 20px;
    font-size: 30px;
    color: #fff; }
  .mapModal .modalBody {
    width: 100%;
    height: 550px; }
  .mapModal #map {
    width: 100%;
    height: 100%; }
  .mapModal.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease; }

.mapFilter, .otpModalCont {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease; }
  .mapFilter.active, .otpModalCont.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -webkit-transition: opacity 200ms ease; }

#one {
  display: none; }
  #one.active {
    display: block; }

#two, #three {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  display: none; }
  #two h2, #three h2 {
    text-align: left; }
  #two h3, #three h3 {
    font-weight: 300;
    margin-top: 30px;
    width: 100%;
    float: left; }
  #two button:disabled, #three button:disabled {
    background: #999; }
  #two .brand, #three .brand {
    width: 100%;
    float: left; }
  #two .veh, #three .veh {
    width: 23%;
    height: 50px;
    text-align: center;
    float: left;
    padding: 14px;
    margin: 20px 1%;
    border: 1px solid #888; }
  #two.active, #three.active {
    display: block; }

#three .model {
  width: 100%;
  float: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#three .row {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%; }

#three .genservices {
  width: 100%;
  float: left; }

#three .services {
  width: 50%;
  float: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#three .avgPrice {
  background: green;
  color: #fff;
  padding: 10px;
  float: right;
  cursor: pointer;
  -webkit-user-select: none; }

#three h4 {
  float: left; }

.loader {
  position: absolute;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8); }
  .loader.active {
    display: block; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  margin: auto; }

.lds-ripple div {
  position: absolute;
  border: 8px solid #006677;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

@-webkit-keyframes lds-ripple {
  0% {
    top: 56px;
    left: 56px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -2px;
    left: -2px;
    width: 116px;
    height: 116px;
    opacity: 0; } }

@keyframes lds-ripple {
  0% {
    top: 56px;
    left: 56px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -2px;
    left: -2px;
    width: 116px;
    height: 116px;
    opacity: 0; } }

body,
input,
select,
textarea,
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  body::after, body::before,
  input::after,
  input::before,
  select::after,
  select::before,
  textarea::after,
  textarea::before,
  body *::after,
  body *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.button-container {
  text-align: center; }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.form-radio,
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem; }
  .checkbox .form-help,
  .form-radio .form-help,
  .form-group .form-help {
    position: absolute;
    width: 100%; }
  .checkbox .form-help {
    position: relative;
    margin-bottom: 1rem; }
  .form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem; }

.form-group input {
  height: 1.9rem; }

.form-group textarea {
  resize: none; }

.form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease; }

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block; }
  .form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    -o-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-group input[type="file"] {
  line-height: 1; }
  .form-group input[type="file"] ~ .bar {
    display: none; }

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #333; }
  .form-group select ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group input.form-file ~ .control-label,
  .form-group input.has-value ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label,
  .form-group textarea.form-file ~ .control-label,
  .form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0; }

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none; }
  .form-group select:focus ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group textarea:focus ~ .control-label {
    color: #337ab7; }
  .form-group select:focus ~ .bar::before,
  .form-group input:focus ~ .bar::before,
  .form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0; }

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block; }

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999; }
    .radio .helper::before, .radio .helper::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      -webkit-transition: -webkit-transform 0.28s ease;
      transition: -webkit-transform 0.28s ease;
      -o-transition: transform 0.28s ease;
      transition: transform 0.28s ease;
      transition: transform 0.28s ease, -webkit-transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      background-color: #337ab7;
      border-color: #337ab7; }
  .radio label:hover .helper {
    color: #337ab7; }
  .radio input:checked ~ .helper::after {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #337ab7; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    -o-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #337ab7;
      display: block;
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: '';
      -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
      -o-transition: opacity 0.28s ease, height 0s linear 0.28s;
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #337ab7; }
  .checkbox input:checked ~ .helper {
    color: #337ab7; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      -webkit-transition: height 0.28s ease;
      -o-transition: height 0.28s ease;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      -webkit-transition-delay: 0.28s;
      -o-transition-delay: 0.28s;
      transition-delay: 0.28s; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem; }

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f; }

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f; }

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%; }

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #4f93ce;
  margin: 20px 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, -webkit-box-shadow 0.28s ease;
  -o-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease, -webkit-box-shadow 0.28s ease;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .button span {
    color: #fff;
    position: relative;
    z-index: 1; }
  .button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0); }
  .button:hover {
    color: #337ab7;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
  .button:active::before, .button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -o-transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0; }
  .button:focus {
    outline: none; }

.button:disabled {
  cursor: not-allowed; }
