<div id="three" class="active">
  <h2>Prices for the services</h2>
  <form method="post" action="/register/three">
    {{{rsa}}}
    {{#pricesTwo Two}}{{/pricesTwo}}
    {{#pricesFour Four}}{{/pricesFour}}
    <div class="button-container">
      <button type="submit" class="button" name="register"><span>Complete Registration</span></button>
    </div>
  </form>
</div>
