<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Auto King</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0">
    <meta name="description" content="Test description">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#0091AA">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Plugins -->
     <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="pcHead">
        <a href="/"><img src="images/logo.png" id="logo" alt="Auto King"></a>
        <div id="logoCt"></div>
        <div id="a" class="shdw3"></div>
        <div id="b" class="shdw3"></div>
        <div id="menu" class="shdw3">
          <div class="upper">
            <input type="text" class="shdw2" name="q" id="autocomplete" placeholder="Enter your location">
            <div class="loginCart">
              {{{loggedIn}}}
            </div>
          </div>
          <div class="lower">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/book">Book A Service</a></li>
              <li><a href="/rsa">Roadside Assistance</a></li>
              <li><a href="/about">About us</a></li>
              <li><a href="/contact">Contact us</a></li>
            </ul>
          </div>
          <div class="menuBtn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <!-- PC head ends here -->

      <div class="mobHead">
        <div class="menuBtn">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="logo">
          <a href="/"><img src="images/logo.png" alt="Auto King"></a>
        </div>
        <div class="vline"></div>
        <div class="search">
          <i class="fa fa-search fa-lg"></i>
        </div>
        <div class="vline"></div>
        <a href="login" class="lgn">Login & Signup</a>
      </div>

      <!-- Mob head ends here  -->
    </header>

    <div id="filterSideNav"></div>
    <section id="sideNav">

      <div class="userArea">
        <div class="userImg">
          <img src="images/default.png" alt="User">
        </div>
        <div class="email">
          default@autoking.in
        </div>
      </div>
      <div class="container">
        <ul>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/">Home</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/book">Book a service</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/rsa">Roadside Assistance</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/about">About Us</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/contact">Contact Us</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="https://service.autoking.in">Become a partner</a></li>
        </ul>
      </div>
    </section>
    <!-- Side nav ends here  -->

    <section id="banner">
      <div class="filter">
        <h1 class="tagLine">
          An Eye Catching Tagline
        </h1>
        <div class="btnhlder">
          <a type="button" href="/book" name="Book Now">Book a service</a>
          <div class ="btnhlder">
          <a type="button" href="/rsa" name="Road Side Assistance">Road Side Assistance</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner ends here -->
    <section id="features">
      <h2>Features</h2>
      <div class="hline"></div>
      <div class="cardHolder">
        <div class="card">
          <h3>Easy Booking</h3>
          <p>Get your vehicle serviced in just a few simple steps.</p>
        </div>
        <div class="card">
          <h3>24/7 customer support</h3>
          <p>If any problems with your vehicle when you hit the road, we’re here to help you out.</p>
        </div>
        <div class="card">
          <h3>Your Own Price</h3>
          <p>A list of service providers from which you can choose the best suitable price.</p>
        </div>
        <div class="card">
          <h3>Grievences</h3>
          <p>Guaranteed prompt service because we know how much you value time.</p>
        </div>
      </div>
    </section>
    <!-- Features ends here -->
    <!-- Descrease cities size -->
    <section id="cities">
      <h2>Cities we Operate In</h2>
      <div class="hline"></div>
      <div class="cardHolder">
        <div class="card shdw5">
          <img src="images/dehradun.jpg" alt="logo">
          <h3>Dehradun</h3>
        </div>
        <div class="card shdw5">
          <img src="images/delhi.jpg" alt="logo" border="0">
          <h3>New Delhi</h3>
        </div>
        <div class="card shdw5">
          <img src="images/gurugram.jpg" alt="logo" border="0">
          <h3>Gurugram</h3>
        </div>
        <div class="card shdw5">
          <img src="images/noida.png" alt="logo" border="0">
          <h3>Noida</h3>
        </div>
      </div>
    </section>
    <!-- Cities Ends here -->

    <section id="why">
      <div class="left">
        <img src="images/ceo.jpg" alt="CEO">
      </div>
      <div class="right">
        <h2>Why Auto King</h2>
        <div class="hline"></div>
        <p>Autoking is a vehicle service website. Autoking not only provides you with best in class service but
also provides maximum customer satisfaction. Autoking serves for both 2 wheelers and 4 wheelers
which helps in giving the customer an ease to search for the best service provider in order to get the
best service through a wide variety of service providers in there locality. Autoking helps in making
your car service easy and more fun. Autoking’s main motive is to give maximum customer
satisfaction by giving the best service and being pocket friendly. Autoking’s main objective is to make
both the customer and his vehicle happy.</p>
      </div>
    </section>
    <!-- why ends here -->

    <footer>
      <div class="upperfooter">
        <div class="social">
          <h3>Social</h3>
          <ul>
            <div class="lineone">
              <li><a href="https://www.facebook.com/Auto-King-1356786077728992/"><img src="images/png/facebook.png" alt="Facebook"></a></li>
              <li><a href="img src=""><img src="images/png/twitter.png" alt="twitter"></a></li>
              <li><a href=" https://www.youtube.com/channel/UCVedBC2xKGZ3KSjhMK0g-2g"><img src="images/png/youtube.png" alt="youtube"></a></li>
            </div>
            <div class="linetwo">
              <li><a href="https://plus.google.com/u/2/"><img src="images/png/google-plus.png" alt="Google Plus"></a></li>
              <li><a href=""><img src="images/png/instagram.png" alt="instagrasm"></a></li>
              <li><a href=" https://in.pinterest.com/autoking73/"><img src="images/png/pinterest.png" alt="Pinterest"></a></li>
            </div>
          </ul>
        </div>
        <div class="links">
          <h3>Links</h3>
          <ul>
            <li><a href="/about" target="_blank">About Us</a></li>
            <li><a href="/contact" target="_blank">Contact Us</a></li>
            <li><a href="/terms" target="_blank">Terms and Conditions</a></li>
            <li><a href="https://serice.autoking.in/register" target="_blank">Become a partner</a></li>
          </ul>
        </div>
        <div class="contact">
          <h3>Contact Us</h3>
          <div class="wrap">
            <h4>Email</h4>
            <a href="mailto:contactus@autoking.com">contactus@autoking.com</a>
          </div>
        </div>
        <div class="newsletter">
          <h3>News Letter</h3>
          <form class="news" action="index.html" method="post">
            <input type="text" name="nemail" placeholder="E-Mail">
            <input type="submit" value="Subscribe">
          </form>
          <p>Subscribe to newsletter for getting latest updates and offers</p>
        </div>
      </div>
      <div class="lowerfooter">
        Copyright (c) 2018 Auners Softwares Private Limited All Rights Reserved.
      </div>
    </footer>

    <script type="text/javascript">
[
  'js/jquery.js',
  'https://use.fontawesome.com/1fd731ec68.js',
  'js/main.js',
  'https://maps.googleapis.com/maps/api/js?key=AIzaSyC52vsCwIzK60_2OO-IFEkdV2e4ILmlob4&libraries=places&callback=initAutocomplete',
].forEach(function(src) {
  var script = document.createElement('script');
  script.src = src;
  script.async = false;
  document.head.appendChild(script);
});
</script>
  </body>
</html>
