<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="css/terms.css">
  </head>
  <body>
    <header>
      <div class="pcHead">
        <a href="/"><img src="images/logo.png" id="logo" alt="Auto King"></a>
        <div id="logoCt"></div>
        <div id="a" class="shdw3"></div>
        <div id="b" class="shdw3"></div>
        <div id="menu" class="shdw3">
          <div class="upper">
            <input type="text" class="shdw2" name="q" placeholder="Search nearest center">
            <div class="loginCart">
              {{{loggedIn}}}
            </div>
          </div>
          <div class="lower">
            <ul>
              <li>Home</li>
              <li>Book a Service</li>
              <div class="dropdown">
              <li data-drop="#rsa" class="drop">Roadside Assistance</li>
              <div id="rsa" class="down">
                <div class="drpitm"><a href="#">Fuel Delivery</a></div>
                <div class="drpitm"><a href="#">Jump Start</a></div>
                <div class="drpitm"><a href="#">Towing</a></div>
                <div class="drpitm"><a href="#">Battery Jumpstart</a></div>
                <div class="drpitm"><a href="#">Key Lockout</a></div>
              </div>
            </div>
              <li>Why Autoking</li>
              <li>Career</li>
              <li>About Us</li>
              <li>Contact Us</li>
            </ul>
          </div>
          <div class="menuBtn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <!-- PC head ends here -->

      <div class="mobHead">
        <div class="menuBtn">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="logo">
          <a href="/"><img src="images/logo.png" alt="Auto King"></a>
        </div>
        <div class="vline"></div>
        <div class="search">
          <i class="fa fa-search fa-lg"></i>
        </div>
        <div class="vline"></div>
        <a href="login.html" class="lgn">Login & Signup</a>
      </div>

      <!-- Mob head ends here  -->
    </header>

    <div id="filterSideNav"></div>
    <section id="sideNav">

      <div class="userArea">
        <div class="userImg">
          <img src="images/default.png" alt="User">
        </div>
        <div class="email">
          default@autoking.in
        </div>
      </div>
      <div class="container">
        <ul>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/">Home</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="/book">Book a service</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="#">Roadside Assistance</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="#">Why Autoking</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="#">Career</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="#">About Us</a></li>
          <li><i class="fa fa-car fa-lg icon"></i><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <!-- Side nav ends here  -->
    <section id="content">
      <h1>Terms and Conditions</h1>

      <div class="container">
        <div class="updated">These Terms of Use were last updated on March 21, 2018.</div>
        <b>Autoking which is a brand under Auners Softwares Pvt. Ltd. operates its website,
located at <a href="/">www.autoking.in</a> and provides vehicle services using online platforms by
connecting through local service providers. Here, Autoking is referred to as &quot;Sites.&quot; The
auto detailing, washing and other services provided by Autoking are referred to as the
"Services."</b>
<p>Please read the following Terms of Use carefully before using the Services.</p>
<h3>APPLICABILITY & ACCEPTANCE OF THESE TERMS OF USE</h3>
<p>By viewing, using, accessing or browsing any content made available on the Sites, or submitting
any content to the Sites, you agree to these Terms of Use as a binding legal agreement between
you and Autoking, without limitation or qualification. The term &quot;you&quot; or &quot;You&quot; shall refer to any
person or entity that views, uses, accesses, browses or submits any content or material in
connection with use of the Sites.</p>
<p>If you do not agree to these Terms of Use, then you may not use the Site. Autoking reserves the
right to modify these Terms of Use at any time without prior notice.</p>
<p>You agree that each use of the Site shall be subject to the then-current Terms of Use, and
continued use of the Sites now or following modifications in these Terms of Use confirms that
you have read, accepted, and agreed to be bound by such modifications.</p>
<h3>USER LICENSE</h3>
<p>a. Scope. Autoking grants you permission (which may be revoked at any time for any reason or
no reason) to use the Site in accordance with these Terms of Use and solely for your own
personal, non-commercial use. You may not modify, copy, distribute, re-publish, transmit,
display, perform, reproduce, publish, reuse, resell, license, create derivative works from, transfer,
or sell any information, content, material, software, products or services obtained from the Sites,
except as specifically noted above. Except as specifically authorized by Autoking, you may not
deep-link to the Sites for any purpose or access the Sites manually or with any robot, spider, web
crawler, extraction software, automated process or device to scrape, copy, or monitor any portion
of the Site or any information, content, or material on the Site. Autoking reserves all of its
statutory and common law rights against any person or entity who violates this paragraph. You
may not link or frame to any pages of the Sites or any content contained therein, whether in
whole or in part, without prior written consent from Autoking. You may like or follow Autoking or
share links to the Site via social networking technology referenced on the Site. Any rights not
expressly granted herein are reserved.</p>
<p>b. User Conduct. You agree that your use of the Sites is subject to all applicable local, state and
central laws and regulations. You also agree:</p>
<ul>
  <li>not to use the Sites or the Services or submit content to the Sites if you are under the age of 18;</li>
  <li>not to access the Sites using a third-party&#39;s account/registration without the express consent of
the account holder;</li>
<li>not to use the Sites of the Services for illegal purposes;</li>
<li>not to use the Sites to engage in commercial activities apart from sanctioned use of Autoking
Services;</li>
<li>not to copy any content from the Sites for republication in print or online;</li>
<li>not to attempt to gain unauthorized access to other computer systems from or through the Site;</li>
<li>not to interfere with another person&#39;s use and enjoyment of the Sites or another entity&#39;s use and
enjoyment of the Site;</li>
<li>not to upload or transmit viruses or other harmful, disruptive or destructive files; and/or</li>
<li>not to disrupt, interfere with, or otherwise harm or violate the security of the Site, or any system
resources, accounts, passwords, servers or networks connected to or accessible through the
Site or affiliated or linked sites.</li>
</ul>
<h3>2. SITE CONTENT</h3>
<p>Nature of User Material. At times, the Sites may allow you and others to post, transmit, display,
publish, distribute, or otherwise submit public user generated material including, but not limited
to, reviews of the Services offered by Autoking or its partners (collectively, &quot;Submissions&quot;). You
agree not to create any Submission that:</p>
<ul>
  <li>contains vulgar, profane, abusive, hateful, or sexually explicit language, epithets or slurs, text in
poor taste, inflammatory attacks of a personal, sexual, racial or religious nature, or expressions
of bigotry, racism, discrimination or hate;</li>
<li>is defamatory, threatening, disparaging, inflammatory, false, misleading, deceptive, fraudulent,
inaccurate, or unfair, contains gross exaggeration or unsubstantiated claims, violates the privacy
rights or right of publicity of any third party, is unreasonably harmful or offensive to any individual
or community, contains any actionable statement, or tends to mislead or reflect unfairly on any
other person, business or entity;</li>
<li>unfairly interferes with any third party&#39;s uninterrupted use and enjoyment of the Sites;</li>
<li>is intended primarily to promote a cause or movement, whether political, religious or other;</li>
<li>contains copyrighted content (copyrighted articles, illustrations, images, text, or other content)
without the express permission of the owner of the copyrights in the content;</li>
<li>constitutes, promotes or encourages illegal acts, the violation of any right of any individual or
entity, the violation of any local, state, national or international law, rule, guideline or regulation,
or otherwise creates liability;</li>
<li>discloses any personal identifying information relating to or images of a minor;</li>
<li>infringes any copyright, trademark, patent, trade secret, or other intellectual property right;</li>
<li>contains viruses or other harmful, disruptive or destructive files;</li>
<li>links to any commercial or other website; and/or</li>
<li>is not otherwise in compliance with these Terms of Use.</li>
</ul>
<p>a. User Representations and Warranties. Each time you provide a Submission to the Sites, you
represent and warrant that you have the right to provide such Submission, which means:</p>
<ul>
  <li>you are the author of the Submission, or</li>
  <li>the Submission is not protected by copyright law, or</li>
  <li>you have express permission from the copyright owner to use the Submission in connection with
the Sites; and</li>
<li>you have the right to grant Autoking the license set out in these Terms of Use;</li>
<li>your use of the Sites and Submission(s) do not violate these Terms of Use.</li>
</ul>
<p>b. User License Grant to Autoking. You grant Autoking, its affiliates, and related entities a royalty-
free, perpetual, irrevocable, non-exclusive right and license to use, copy, modify, display,
archive, store, publish, transmit, perform, distribute, reproduce and create derivative works from
all Submissions you provide to Autoking in any form, media, software or technology of any kind
now existing or developed in the future. Without limiting the generality of the previous sentence,
you authorize Autoking to include the Submissions you provide in a searchable format that may
be accessed by users of the Sites. You also grant Autoking and its and related entities the right
to use any Personally Identifiable Information (as that term is defined in Autoking&#39;s Privacy
Policy) included with any Submission in connection with the use, reproduction or distribution of
such Submission and Autoking TM provision of Services to you. You also grant Autoking the right to
use the Submission and any facts, ideas, concepts, know-how or techniques (&quot;Information&quot;)

contained in any Submission or communication you send to Autoking for any purpose
whatsoever, including but not limited to, developing, manufacturing, promoting and/or marketing
products and services. You grant all rights described in this paragraph in consideration of your
use of the Sites, without compensation of any sort to you. Autoking does not claim ownership of
Submissions.</p>
<p>c. Disclaimer of Responsibility for Material. Submissions are not endorsed by Autoking, and do
not represent the views of Autoking or its parents, subsidiaries and affiliates, agents, officers or
directors. You acknowledge and agree that Autoking does not control all Submissions, and
disclaims any responsibility for such Submissions. Autoking specifically disclaims any duty,
obligation, or responsibility, to review, screen, refuse to post, remove, or edit any Submissions. In
addition, Autoking does not represent or warrant that any other content or information accessible
via the Sites is accurate, complete, reliable, current or error-free including the pricing, hours of
operation or, as applicable, parking accessibility available from its partners. Prices are subject to
change without notice. Autoking assumes no responsibility or liability for any errors or omissions
in the content provided via the Sites.</p>
<p>d. Proprietary Rights. You acknowledge and agree that the Sites contain proprietary information
and content that is protected by intellectual property and other laws, and may not be used except
as provided in these Terms of Use without advance, written permission of Autoking. All designs,
text, graphics, interfaces, and images (and the selection and arrangements thereof), and
software, hypertext markup language (&quot;HTML&quot;), scripts, active server pages, and other content
and software used in the Sites are reserved.</p>
<h3>3. TERMINATION AND MODIFICATIONS TO THE SITES</h3>
<p>Autoking reserves the right, in its sole and absolute discretion, to modify, suspend, or discontinue
at any time, with or without notice, the Services or the availability of the Sites (or any part
thereof).</p>
<h3>4. INDEMNITY</h3>
<p>You agree to indemnify and hold Autoking, its parents, subsidiaries and affiliates, agents,
officers, directors, or other employees harmless from any claim, demand, or damage (whether
direct, indirect, or consequential), including reasonable attorneys&#39; fees, made by anyone in
connection with your use of the Sites, with your Submissions, with any alleged infringement of
intellectual property or other right of any person or entity relating to the Sites, your violation of
these Terms of Use, and any other acts or omissions relating to your purchase of Services.</p>
<h3>5. DISCLAIMER OF WARRANTIES</h3>
<p>THE INFORMATION, CONTENT, PRODUCTS, SERVICES, AND MATERIALS AVAILABLE
THROUGH THE SITES (WHETHER PROVIDED BY AUTOKING, OR A THIRD PARTY, ARE
PROVIDED &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; WITHOUT WARRANTIES OF ANY KIND, EITHER
EXPRESS OR IMPLIED. TO THE MAXIMUM EXTENT PERMITTED BY LAW, AUTOKING
DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, FREEDOM FROM COMPUTER

VIRUS, AND IMPLIED WARRANTIES ARISING FROM COURSE OF DEALING OR COURSE
OF PERFORMANCE.</p>
<h3>6. LIMITATION OF LIABILITY</h3>
<p>IN NO EVENT SHALL AUTOKING BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT,
SPECIAL, PUNITIVE, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, OR ANY
LOSS OR DAMAGES WHATSOEVER (EVEN IF AUTOKING HAS BEEN PREVIOUSLY
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), WHETHER IN AN ACTION UNDER
CONTRACT, NEGLIGENCE, OR ANY OTHER THEORY, IN ANY MANNER ARISING OUT OF
OR IN CONNECTION WITH THE SITES OR THE SERVICES PROVIDED BY AUTOKING.
AUTOKING ASSUMES NO RESPONSIBILITY AND SHALL NOT BE LIABLE FOR ANY
DAMAGES TO, OR VIRUSES THAT MAY INFECT, YOUR COMPUTER EQUIPMENT OR
OTHER PROPERTY ON ACCOUNT OF YOUR ACCESS TO, USE OF, BROWSING OF, OR
DOWNLOADING OF ANY MATERIAL FROM VIA THE SITES. AUTOKING ASSUMES NO
RESPONSIBILITY OR LIABILITY IN ANY MANNER ARISING OUT OF OR IN CONNECTION
WITH ANY INFORMATION, CONTENT, PRODUCTS, AUTO WASHING OR DETAILING
SERVICES, OR MATERIAL AVAILABLE ON OR THROUGH THE SITES, AS WELL AS ANY
THIRD PARTY WEBSITE PAGES OR ADDITIONAL WEBSITES LINKED TO VIA THE SITES,
FOR ANY ERROR, DEFAMATION, LIBEL, SLANDER, OMISSION, FALSEHOOD, OBSCENITY,
PORNOGRAPHY, PROFANITY, DANGER, INACCURACY CONTAINED THEREIN OR HARM
TO PERSON OR PROPERTY CAUSED THEREBY. THESE LIMITATIONS SHALL APPLY NOT
WITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. IN
NO EVENT SHALL AUTOKING&#39;S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES
AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING BUT NOT
LIMITED TO, NEGLIGENCE) OR OTHERWISE, FOR ALL SERVICES PROVIDED BY
AUTOKING EXCEED THE AMOUNT PAID BY YOU TO AUTOKING.</p>
<p>YOU AND AUTOKING AGREE THAT THE WARRANTY DISCLAIMERS AND LIMITATIONS OF
LIABILITY IN THESE TERMS OF USE ARE MATERIAL, BARGAINED-FOR BASES OF THESE
TERMS OF USE, AND THAT THEY HAVE BEEN TAKEN INTO ACCOUNT IN DETERMINING
THE CONSIDERATION TO BE GIVEN BY EACH PARTY UNDER THESE TERMS OF USE
AND IN THE DECISION BY EACH PARTY TO ENTER INTO THESE TERMS OF USE. YOU
AND AUTOKING AGREE THAT THE WARRANTY DISCLAIMERS AND LIMITATIONS OF
LIABILITY IN THESE TERMS OF USE ARE FAIR AND REASONABLE.</p>
<p>IF YOU ARE DISSATISFIED WITH THE SERVICES OR DO NOT AGREE TO ANY
PROVISIONS OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO
DISCONTINUE USING THE SERVICES, EXCEPT AS MAY BE PROVIDED FOR IN THIS
SECTION 7.</p>
<h3>7. YOUR ACCOUNT, PASSWORD, AND SECURITY</h3>
<p>Use of Sites requires that you register and/or create an account (&quot;Account&quot;) or use the Sites as a
guest. To register and create an Account, you must select an account designation and password
and provide certain personal information. In consideration of the use of the Sites and the
Services provided by Autoking, you agree to: (a) provide true, accurate, current and complete
information about yourself as prompted by the registration form, and (b) maintain and promptly
update the personal information you provide to keep it true, accurate, current and complete. If
you provide any information that is untrue, inaccurate, not current or incomplete, or Autoking has
reasonable grounds to suspect that such information is untrue, inaccurate, not current or

incomplete, Autoking has the right to refuse any and all current or future use of the Sites (or any
portion thereof) or Services.</p>
<p>You are responsible for maintaining the confidentiality and security of your Account and
password, and you are fully responsible for all activities that occur under your password or
Account, and for any other actions taken in connection with the Account or password. You agree
to (a) immediately notify Autoking of any known or suspected unauthorized use(s) of your
password or Account, or any known or suspected breach of security, including loss, theft, or
unauthorized disclosure of your password or credit card information; and (b) ensure that you exit
from your Account at the end of each session. Autoking will not be liable for any injury, loss or
damage of any kind arising from or relating to your failure to comply with (a) and (b) or for any
acts or omissions by you or someone else using your Account and/or password.</p>
<h3>8. LINKS</h3>
<p>As a courtesy to you, the Sites may offer links to other websites. Some of these websites may be
affiliated with Autoking while others are not. Autoking is not responsible for the contents of any
website pages created and maintained by organizations independent of Autoking. Visiting any
such third-party website pages is at your own risk. Autoking has no control of these third-party
website pages, nor can it guarantee the accuracy, completeness, or timeliness of information in
third-party website pages. Your use of such information is voluntary, and your reliance on such
information should be made only after independent review. References to commercial products
or services within any such third-party website pages do not constitute or imply an endorsement
by Autoking. By using the Sites you acknowledge that Autoking is responsible neither for the
availability of, nor the content located on or through any third-party website pages.</p>
<h3>9. CONSIDERATION</h3>
<p>You acknowledge that these Terms of Use are supported by reasonable and valuable
consideration, the receipt and adequacy of which are hereby acknowledged. Without limiting the
foregoing, you acknowledge that such consideration includes, without limitation, your use of the
Sites and receipt or use of data, content, products and/or Services through the Sites.</p>
<h3>10. JURISDICTION, APPLICABLE LAW, AND LIMITATIONS</h3>
<p>This Site is created and controlled by Autoking in New Delhi, India. You agree that these Terms
of Use will be governed by and construed in accordance with the laws of India, without regard to
its conflicts of law provisions. Use of the Sites is unauthorized in any jurisdiction that does not
give effect to all provisions of these Terms of Use. Autoking makes no claims or assurances that
the Sites are appropriate or may be downloaded outside of India. You agree that all legal
proceedings arising out of or in connection with these Terms of Use, or services available on or
through the Sites must be filed in the court of law in New Delhi, India within 15 days of the time in
which the events giving rise to such claim began, or your claim will be forever waived and barred.
You expressly submit to the exclusive jurisdiction of said courts and consent to extraterritorial
service of process.</p>
<h3>12. GENERAL</h3>
<p>a. Enforceability. If any portion of these Terms of Use is found to be void, invalid or otherwise
unenforceable, then that portion shall be deemed to be superseded by a valid, enforceable
provision that matches the intent of the original provision as closely as possible. The remainder
of these Terms of Use shall continue to be enforceable and valid according to terms contained
herein.</p>
<p>b. Headings &amp; Construction. The section titles in the Terms of Use are for your convenience only
and carry no contractual or legal effect whatsoever. The language in these Terms of Use shall be
interpreted in accordance with its fair meaning and shall not be strictly interpreted for or against
either party.</p>
<p>c. Contact Autoking. For questions regarding these Terms of Use, contact us at <a href="/">www.autoking.in</a></p>
      </div>


    </section>
    <script type="text/javascript">
[
  'js/jquery.js',
  'https://use.fontawesome.com/1fd731ec68.js',
  'js/main.js',
].forEach(function(src) {
  var script = document.createElement('script');
  script.src = src;
  script.async = false;
  document.head.appendChild(script);
});
</script>
  </body>
</html>
